.todo-item {
    padding: 20px 0;
    position: relative;
}

.todo-item:not(:first-child) {
    border-top: 1px solid #ddd;
}

.todo-item span {
    color: #ff585d;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 18px;
}